<template>
  <div>
      nosotros
    <input v-model="usuario.nombre">
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
    computed:{
        ...mapState({
            usuario:'usuario'
        }),
        
    }

}

</script>

<style>

</style>