<template>
    <div>
        <navbar-proyecto/>
        <main>
            <router-view/>
        </main>
        <footer-proyecto/>
    </div>
</template>

<script>
    import navbar from '../src/components/principal/nabvar.vue';
    import footerPage from '../src/components/principal/footerPage.vue'
    export default {
        name: "app",
        components:{
            'navbar-proyecto':navbar,
            'footer-proyecto':footerPage,
        }
    }
</script>

<style scoped lang="scss">
    @import "assets/style/main";
</style>